
<!-- TODO: Insert inside the `.container`, above the first `.row` -->
<div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <%= form_with url: flats_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            "",
            class: "form-control",
            placeholder: "Type a keyword"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<!-- [...] -->

<div class="section-flats">
  <div class="flats-layout">
    <% @flats.each do |flat| %>
      <div >
        <div class="card" style="max-width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"><%= flat.name %></h5>
            <h6 class="card-subtitle mb-2 text-body-secondary"><%= flat.price_per_night %></h6>
            <p class="card-text"><%= flat.description %></p>
            <%= link_to "voir plus", flat_path(flat) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="flats-map" >
    <div style="height: 90vh; position: sticky; top: 20px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>

