<div data-controller="fetch-activities">
  <div class="flat-content-layout" >
    <div class="flat-content">
      <h1><%= @flat.name %> | <%= @flat.price_per_night %>€ par nuit</h1>
      <p><%= @flat.description %></p>
      <p data-fetch-activities-target="address"><%= @flat.address %></p>

      <div class="mt-5">
        <div style="width: 80%; height: 300px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      </div>
    </div>

    <div class="flat-booking-form-wrapper">
      <% if flash[:error] %>
        <div class="alert alert-danger">
          <%= flash[:error] %>
        </div>
      <% end %>
      <%= simple_form_for [@flat, @booking] do |f| %>
        <%= f.input :start_date,
              as: :string,
              input_html: { class: "bg-white", data: { controller: "datepicker" } } %>
        <%= f.input :end_date,
                as: :string,
                input_html: { class: "bg-white", data: { controller: "datepicker" } } %>
        <%= f.submit "Ask for booking", class: "btn btn-primary w-100" %>
      <% end %>
    </div>
  </div>
  <div class="activities-layout" data-fetch-activities-target="activities">
  </div>
</div>


