<h1>Index bookings</h1>

<% @bookings_per_user.each do |booking| %>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= booking.flat.name %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= booking.start_date %> | <%= booking.end_date %></h6>
      <p class="card-text"><%= booking.total_price %></p>
      <%= link_to "more details", flat_booking_path(booking.flat, booking)  %>
    </div>
  </div>
<% end %>